:root{
    --display-1: 58px;
    --h1: 48px;
    --h2: 36px;
    --h3: 28px; 
    --h4: 22px;
    --bd-lg: 24px;
    --bd-sm: 22px;
    --ft: 18px;

    --black: #000000;
    --off-wh: #D9D9D9;
    --white: #FFFFFF;
    --green: #50DCAA;
    --blue: #394A57;
    --grey: #9F9F9F;

    --bg: #101417;

    --ln-gradient: linear-gradient(180deg, #1CB981 0%, #076141 50%, #1CB981 100%);
    --ln-bg: linear-gradient(180deg, rgba(23, 164, 114, 0.2) 0%, rgba(8, 102, 69, 0.2) 100%);

}

body{
    margin: 0 auto;
    background-color: var(--bg);
    font-family: 'Michroma';
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}
.BG{
    position: absolute;
    background-image: url(asserts/BG.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 153px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .logo{
        width: 154px;
        height: 53px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    nav{
        display: flex;
        align-items: center;
        gap: 40px;
        .nav-item{
            color: var(--white);
            font-weight: 400;
            font-size: var(--ft);
        }
        .cta{
            align-content: center;            
            background: var(--ln-gradient);
            border-radius: 43px;
            color: var(--white);
            font-size: var(--ft);
            width: 178px;
            height: 46px;
            text-align: center;
        }
    }
    .ham-bar{
        display: none;
    }
}

.section-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 457px;
    .wrap-sec-1{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
        .heading{
            font-size: var(--display-1);
            color: var(--white);
            font-weight: 400;
        }
        .sub-heading{
            font-size: var(--bd-lg);
            color: var(--grey);
            font-weight: 400;
            font-family: 'Montserrat';
        }
        .cta-sec-1{
            background: var(--ln-gradient);
            color: var(--white);
            font-size: var(--h2);
            font-weight: 400;
            width: 441px;
            height: 85px;
            text-align: center;
            align-content: center;
            border-radius: 43px;
            margin: 0 auto;
        }
    }
}
.section-2{
    background: var(--ln-bg);
    width: 100%;
    height: 843px;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap-sec-2{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        max-width: 1200px;
        .heading{
            font-size: var(--h1);
            font-weight: 400;
            color: var(--white);
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
        }
        .container{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            .content{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                row-gap: 50px;
                column-gap: 30px;
                text-align: center;
                align-items: center;
                .box{
                    max-width: 350px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .icon{
                        height: 100px;
                        img{
                            height: 100%;
                        }
                    }
                    .icon-s{}
                    .heading-box{
                        font-size: var(--h3);
                        font-weight: 400;
                        color: var(--white);
                    }
                    .sub-hd{
                        font-size: var(--bd-sm);
                        font-weight: 400;
                        color: var(--grey);
                        font-family: 'Montserrat';
                    }
                }
            }
        }
    }
}
.section-3{
    width: 100%;
    height: 688px;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap-sec-3{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .heading{
            font-size: var(--h1);
            font-weight: 400;
            color: var(--white);
            text-align: center;
            width: 100%;
        }
        .container{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            .content{
                display: flex;
                gap: 30px;
                .box{
                    padding: 50px 30px 30px 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 109px;
                    border: 1px solid #FFFFFF;
                    border-radius: 20px;
                    background-color: #FFFFFF0D;
                    .box-item{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .icon{
                            height: 90px;
                            img{
                                height: 100%;
                            }
                            #spec{
                                height: 86.67px;
                            }
                        }
                        .hd{
                            font-size: var(--h4);
                            font-weight: 400;
                            color: var(--white);
                        }
                        .sub-hd{
                            font-family: 'Montserrat';
                            font-size: 18px;
                            font-weight: 400;
                            color: var(--grey);
                        }
                    }
                    .cta{
                        width: 180px;
                        height: 46px;
                        text-align: center;
                        align-content: center;
                        margin-left: 140px;
                        background: var(--ln-gradient);
                        border-radius: 43px;
                        color: var(--white);
                        font-weight: 400;
                    }
                }
                .tablet{
                    display: none;
                }
            }
        }
    }
}
.section-4{
    width: 100%;
    background: var(--ln-bg);
    height: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap-sec-4{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .heading{
            font-size: var(--h1);
            font-weight: 400;
            color: var(--white);
            width: 100%;
            text-align: center;
        }
        .container{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            .content{
                display: flex;
                gap: 17px;
                flex-wrap: wrap;
                .box{
                    max-width: 383px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .icon{
                        height: 100px;
                        img{
                            height: 100%;
                        }
                    }
                    .head{
                        font-size: var(--bd-lg);
                        font-family: 'Montserrat';
                        font-weight: 400;
                        color: var(--white);
                        text-align: center;
                    }
                }
            }
        }
    }
}
.section-5{
    width: 100%;
    height: 712.635498046875px;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap-sec-5{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        .heading{
            width: 100%;
            font-size: var(--h1);
            font-weight: 400;
            color: var(--white);
        }
        .container{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            .content{
                display: flex;
                gap: 30px;
                .box{
                    width: 380px;
                    height: 494.635498046875px;
                    border-radius: 20px;
                    background-color: #FFFFFF0D;
                    border: 1px solid var(--white);
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .brand-box{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 100%;
                        max-width: 320px;
                        margin: 0 auto;
                        margin-top: 61px;
                        .icon{
                            height: 93.24246978759766px;
                            img{
                                height: 100%;
                            }
                        }
                        .name{
                            font-size: var(--h4);
                            font-weight: 400;
                            color: var(--white);
                        }
                        .job{
                            font-family: 'Montserrat';
                            font-size: 18px;
                            font-weight: 400;
                            color: var(--white);
                        }
                    }
                    .text-box{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 100%;
                        max-width: 320px;
                        margin: 0 auto;
                        .dot-right,.dot-left{
                            height: 22.2px;
                            img{
                                height: 100%;
                            }
                        }
                        .text{
                            font-family: 'Montserrat';
                            font-size: 18px;
                            font-weight: 400;
                            color: var(--grey);
                        }
                    }
                }
                .box-tab{
                    display: none;
                }
            }
        }
    }
}
.section-6{
    width: 100%;
    height: 342px;
    background: var(--ln-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap-sec-6{
        width: 100%;
        max-width: 1200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .heading-wrap{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .heading{
                font-size: var(--h1);
                font-weight: 400;
                color: var(--white);
            }
            .sub-hd{
                font-family: 'Montserrat';
                font-size: var(--bd-lg);
                font-weight: 400;
                color: var(--grey);
            }
        }
        .cta{
            width: 836px;
            height: 85px;
            margin: 0 auto;
            border-radius: 43px;
            background: var(--ln-gradient);
            text-align: center;
            align-content: center;
            color: var(--white);
            font-size: var(--h2);
            font-weight: 400;
        }
        .cta-mobile{
            display: none;
        }
    }
}
footer{
    color: var(--white);
    width: 100%;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap-ft{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 1200px;
        .logo-footer{
            height: 67px;
            width: auto;
            display: flex;
            justify-content: center;
            img{
                height: 100%;
                width: 194px;
            }   
        }
        .wrap1,.wrap2,.wrap3{
            width: 100%;
            max-width: 1200px;
            display: flex;
            margin: 0 auto;
            text-transform: uppercase;
            gap: 50px;
            justify-content: center;
            font-size: 18px;
        }
    }
    
}